 
.icon-like {
	background-image: url('png/like.png');
	background-repeat: no-repeat;
}

 
.icon-list {
	background-image: url('png/list.png');
	background-repeat: no-repeat;
}

 
.icon-login {
	background-image: url('png/login.png');
	background-repeat: no-repeat;
}

 
.icon-naughty {
	background-image: url('png/naughty.png');
	background-repeat: no-repeat;
}

 
.icon-nav {
	background-image: url('png/nav.png');
	background-repeat: no-repeat;
}

 
.icon-nice {
	background-image: url('png/nice.png');
	background-repeat: no-repeat;
}

 
.icon-rating {
	background-image: url('png/rating.png');
	background-repeat: no-repeat;
}

 
.icon-report {
	background-image: url('png/report.png');
	background-repeat: no-repeat;
}

 
.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}

 
.icon-unwrapped {
	background-image: url('png/unwrapped.png');
	background-repeat: no-repeat;
}

 
.icon-christmas {
	background-image: url('png/christmas.png');
	background-repeat: no-repeat;
}

 
.icon-dislike {
	background-image: url('png/dislike.png');
	background-repeat: no-repeat;
}

 
.icon-gift {
	background-image: url('png/gift.png');
	background-repeat: no-repeat;
}

