<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
		<security>
			<requestFiltering>
			   <requestLimits maxAllowedContentLength="10000000" />
			</requestFiltering>
		</security>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
                <add value="index.asp" />
                <add value="home.htm" />
                <add value="index.html" />
                <add value="default.html" />
                <add value="index.php" />
                <add value="default.php" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Custom" existingResponse="Auto">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="/error/" responseMode="Redirect" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".application/x-font-woff" mimeType="application/x-font-woff" />
        </staticContent>
	</system.webServer>
</configuration>
