h2 {
	width:100%;
	text-align:center;
	font-family: $lobster;
	font-size:20px;
	color:$dgrey;
	float:left;
	clear:both;
	padding:0 0 10px;

	&.subheading {
		font-family:$font;
	}
	a {
		color:$dgrey;
		text-decoration:none;
		&:hover {
			color:$blue;
		}
	}
	&.text-left {
		text-align:left;
	}
}

p {
	width:100%;
	padding:10px 2.5%;
	
	&.errorMsg {
		color:$error;
		font-size: 15px;
		text-align:center;
		clear:both;
		background:white;
		border: 1px dashed $error;
		margin:3px auto;
		width:95%;
		overflow:hidden;
		letter-spacing:1px;


		a {
			color:$error;
			text-decoration:underline;

			&:hover {
				color:darken($error,15%);
			}
		}
	}
	&.successMsg { 
		color:$green;
		font-size: 15px;
		text-align:center;
		clear:both;
		background:white;
		border: 1px dashed $green;
		margin:3px auto;
		width:95%;
		overflow:hidden;
		letter-spacing:1px;
	}
}
span {
	&.errorMsg {
		color:$error;
		font-size: 15px;

		a {
			color:$error;
			text-decoration:underline;

			&:hover {
				color:darken($error,15%);
			}
		}
	}
	&.successMsg { 
		color:$green;
		font-size: 15px;
	}
	
}

//Special rules for generic
#container .content.registerContent p{
	padding:10px;	

}


//Icons
#itemholder.pin, #itemholder.images {
	.item {
		.itemActions > span, .itemActions > a {
			background-image:url('/images/icon/sprite.png');
			background-repeat:no-repeat;
			background-size:initial;

			&.collection {
				background-position:-60px -20px;
				&.on, &:hover {
					background-position:-60px 0px;
				}
			}
			&.likePost {
				background-position:-20px -20px;
				&.on, &:hover {
					background-position:-20px 0px;
				}
			}
			&.dislikePost {
				background-position:-40px -20px;
				&.on, &:hover {
					background-position:-40px -100px;
				}
			}
			&.report {
				background-position:-120px -20px;
				&.on, &:hover {
					background-position:-120px -100px;
				}
			}
			&.itemFriend {
				background-position:-80px -20px;
				&.on, &:hover {
					background-position:-80px 0px;
				}
			}
		}
	}
}
.wrapper {
	margin:0 auto;
	width:100%;
	max-width:960px;
	padding:0 15px;
}
a.link {
	background:$blue;
	padding:10px 20px;
	width:100%;
	float:left;
	clear:both;
	display:block;
	margin:5px 0;
	color:white;
	text-align:center;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	text-decoration:none;
}