header {
	width:52px;
	height:100%;
	padding: 5px;
	float:left;
	background:$lgrey;
	color:$blue;
	position:fixed;
	top:0;
	z-index:100;
	@include box-shadow(0px 2px 9px $dgrey);
	@include transition(all 0.5s);

	&.active {
		width:239px;

		#extendNav {
			.link-icon {
				img {
					@include transform(rotate(180deg));
				}
			}
		}
	}
	

	#altHeader {
		float:left;
		width:100%;
		clear:both;

		> a, > div {
			display:block;
			margin:5px 0;
			clear:both;
			float:left;
			border:1px solid $dgrey;
			width:100%;
			height:40px;
			overflow:hidden;
			text-decoration:none;

			&.active {
				background:white;

				.link-extend {
					@include transform(rotate(180deg));
					background:$green;
					color:white;
					
				}
			}	

			&#extendNav {
				cursor:pointer;
				position:absolute;
				bottom:10px;
				width:calc(100% - 10px);
			}

			.link-icon {
				display:block;
				float:left;
				width:40px;

				img {
					height:40px;
					width:40px;
					float:left;
					@include transition(all 0.5s);
				}
				&.events {
					background-image:url('/images/icon/events.png');
					background-repeat:no-repeat;
					height:40px;
					width:40px;
					padding:18px 5px 5px;
					font-size:12px;
					font-weight:bold;
					color:$blue;
					text-align:center;
				}
			}
			.link-name {
				display:block;
				float:left;
				height:40px;
				width:150px;
				padding:10px;
				color:$blue;

				font-size:12px;
				letter-spacing:1px;
				text-transform:uppercase;
				padding:10px;
				line-height:20px;
			}
			.link-extend {
				display:block;
				float:right;
				height:40px;
				padding:10px;
				color:$blue;
				font-size:12px;
				letter-spacing:1px;
				text-transform:uppercase;
				padding:10px;
				line-height:20px;
				@include transition(all 0.5s);

				&:hover {
					background:$green;
					color:white;
				}

			}
			&:hover {
				background:white;

				.link-name {
					color:$green;
				}
			}
		}
		> span.line  {
			display:block;
			width:100%;
			float:left;
			clear:both;
			border:0;
			margin:10px 0;
			padding:0;
			background:none;

			> span.line {
				float:left;
				width:100%;
				clear:both;
				background:$dgrey;
				height:1px;

			}
		}
	}
	@media #{$break-handheld} {
		bottom:0;
		top:auto;
		height:42px;
		border-top:2px solid $blue;
		width:100%;
		left:0;
		padding:0;

		#altHeader {
			max-width:400px;
			margin:0 auto;
			float:none;
			height:40px;

			> a {
				border:0;
				width:calc(100% / 6);
				clear:none;
				margin:0;

				&:hover {
					background:none;
				}
				&.active {
					background:white;

					&:hover {
						background:white;
					}
				}

				.link-icon {
					margin:0 auto;
					float:none;

					img {
						max-width:100%;
					}
				}

				.link-name, .link-extend {
					display:none;
					visibility:hidden;
				}
			}
			> span.line {
				display:none;
			}
			 > #extendNav {
				display:none;
			}
		}
	}

	.hint--right:after {
		font-family:$font;
	}

	.headcont {
		float:left;
		width:100%;
		margin: 0;
		padding:0 10px;
	}
	.left {
		float:left;
	}
	.right {
		float:right;
	}
	.left, .right {

		.navbutton {
			height: 34px;
			width: 34px;
			border:2px solid $white;
			float:right;
			background:$white;
			display:block;
			margin:0 3px;
			color:$blue;
			cursor:pointer;
			text-align:center;
			@include box-shadow(2px 2px 2px $dgrey);

			.icon-login8{
				font-size:18px;
			}

			&:hover {
				border:2px solid $blue;
			}
			img {
				padding:0px;
				width:30px;
			}
			a {
				text-decoration:none;
				display:block;
			}
			span {
				font-size:20px;
				line-height:30px;
				color:$blue;
				text-decoration:none;


			}
			&#nav {
				color:$white;
				background:$blue;
				border:2px solid $blue;

				&:hover {
					border:2px solid $white;
				}
				span {
					color:white;
					font-size:30px;
				}
			}
			&.selected {
				background:$green;
				border:2px solid $green;

				span {
					color:white;
				}
				&:hover {
					background:$blue;
					border:2px solid $blue;
				}
			}
		}
		a.iCTitle {
			font-family: $lobster;
			font-size:34px;
			line-height:34px;
			letter-spacing:1px;
			float:left;
			text-decoration:none;
			color:$blue;
			padding-right:10px;
			h1 {
				font-size:34px;
				line-height:34px;
				margin:0;
				padding:0;

			}
		}
		#countdownHolder {
			position:relative;
			float:left;

			&.hover {
				#countdownShare {
					display:block;
				}
			}
		}
		#countdown {
			font-size:12px;
			line-height:12px;
			margin:0 auto;
			display:block; 
			text-align:center;
			overflow:hidden;
			float:left;
			margin:20px 0 0;
			color:$blue;
		}
		#countdownShare {
			height:22px;
			position:absolute;
			left:0;
			width:100%;
			top:0;
			background:$blue;
			display:none;
		}
	}
}
@media #{$break-handheld} {
	.hint--left {
		display:none;
	}
	#navbar {
		width:100%;
	}
	header {
		.headcont {
			.left {
				max-width:200px;
				#countdown {
					display:none; 
				}
			}
			.right {
				max-width:135px;
			}
		}
	}
}
@media (max-width:375px) {
	header .right {
		max-width:90px;

		.navbutton {
			display:none;

			&#nav, &#LoginNav, &#navShow {
				display:block;
			}

		}
	}

}
.panel {
	position:fixed;
	z-index:50;
	left:0px;
	top:0px;
	width:50px;
	padding:15px;
	background:white;
	overflow:hidden;
	height:100%;
	@include box-shadow(0px 2px 9px $dgrey);
	@include transition(all 1s);
	&.active {
		left:238px;
		width:250px;
	}
	@media #{$break-handheld} {
		display:none;

		&.active {
			display:block;
			width:100%;
			left:0;

		}
	}


	* {
		max-width:100%;
	}
	ul {
		float:left;
		width:100%;
		clear:both;
		margin: 0px;

		li {
			float:left;
			width:100%;
			clear:both;
			margin:0 0 5px;
		}

		&.links {
			a {
				background:$blue;
				float:left;
				width:100%;
				padding:10px;
				color:white;
				clear:both;
				text-decoration:none;
				text-align:center;
				font-size:11px;
				letter-spacing:1px;
				text-transform:uppercase;

				&:hover {
					background:$green;
				}
			}
		}
		&.legal {
			li {
				margin:0 0 10px;
			}
			a {
				float:left;
				width:100%;
				color:$blue;
				clear:both;
				text-decoration:none;
				text-align:center;
				font-size:11px;
				letter-spacing:1px;
				text-transform:uppercase;

				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
	.refineRow {
		float:left;
		width:100%;
		clear:both;
		padding:5px 0;

		label {
			float:left;
			width:100%;
			clear:both;
			font-size:10px;
			padding-bottom:5px;
			line-height:16px;
			text-transform:uppercase;
		}
	}
	select, input, button, label {
		width:100%;
	}
	.refineRow.buttonRow input[type='checkbox']{
		float:left;
	}
	.refineRow.buttonRow {
		label {
			width:auto;
			clear:none;
			padding-left:5px;
			padding-bottom: 0;
			line-height: 18px;
		}
		input {
			width:auto;
		}
	}
	hr {
		border:0;
		height:1px;
		float:left;
		width:100%;
		clear:both;
		border-top:1px solid $blue;
	}
	#refineRating {
		float:left;
		clear:both;
		width:100%;
		
		#ratingSlider {
			width:95%;
			margin:10px auto;
		}
	}
	#refineDateInputs input {
		width:47.5%;
	}

	button {
		background:$green;
		padding:10px 0;
		text-align:center;
		width:100%;
		text-transform:uppercase;
		font-size:12px;
		letter-spacing:1px;
	}
}
#pageHeader {
	float:left;
	width:100%;
	clear:both;
	border-bottom:1px solid $lgrey;	
	margin-bottom:10px;
	padding-bottom:10px;
	position:relative;

	#breadcrumbs {
		max-width:60%;

		@media #{$break-handheld} {
			max-width:100%;
		}
	}

	h1, .fauxH1 {
		font-family:$lobster;
		text-align:left;
		font-size:50px;
		line-height:50px;
		float:left;
		max-width:60%;
		float:left;
		clear:both;
		margin:10px 0;
		padding:0;

		&.small {
			font-size:30px;
			line-height:30px;
		}

		@media #{$break-handheld} {
			font-size:35px;
			margin-top:0;
			line-height:35px;
		}

	}
	#userPortal {
		float:right;
		max-width:40%;
		position:absolute;
		top:0;
		right:0;	

		@media #{$break-handheld} {
			> a {
				display:none;
			}
		}

		a {
			font-size:12px;
			text-decoration:none;
			color:$blue;
			padding:0;
			margin:0 0 0 10px;
			line-height:30px;
		}
		ul {
			display:inline;
			position:relative;
			float:right;
			margin-left:10px;

			img {
				cursor:pointer;
			}

			ul {
				display:none;
				position:absolute;
				background:white;
				border:1px solid $blue;
				color:$blue;
				right:0px;
				width:150px;
				top:30px;
				padding:0;
				margin:0;
				z-index:100;

				li {
					a {
						float:left;
						width:100%;
						text-align:left;
						color:$blue;
						text-decoration:none;
						margin:0;
						padding:0 10px;

						&:hover {
							color:white;
							background:$green;
						}
					}
				}
			}
		}
	}

	#pageHeaderLinks {
		float:right;

		a {
			float:left;
			padding:10px 15px;
			color:white;
			background:$dgrey;
			text-decoration:none;
			letter-spacing:1px;
			text-transform:uppercase;
			font-size:10px;
			display:block;
			margin:0 0 0 10px;

			&:hover {
				background:$green;
			}
		}
	}
}
#breadcrumbs {
	float:left;
	clear:both;

	ul {
		padding:0;
		margin:10px 0;
		width:100%;
		text-align:left;

		li {
			display:inline-block;
			margin:0 5px 0 0;
			font-size:11px;
			text-transform:uppercase;
			letter-spacing:1px;
			color:$dgrey;

			a {
				color:$blue;
				text-decoration:none;
			}
		}
	}
}