.tool-box {
	float:left;
	background:white;
	width:18%;
	margin:1%;
	padding:1%;
	border:1px solid #CCCCCC;

	a {
		color:$blue;
		font-size:14px;
		text-decoration:none;
		width:100%;
		float:left;
		text-align:center;
		padding:15px;
	}
	@media #{$break-handheld} {
		width:45%;
		margin:2.5%;
		padding:2.5%;
	}
}