#container #recaptcha_widget_div {
	#recaptcha_area tr:nth-child(1){height:67px!important;}
	.recaptchatable, #recaptcha_area tr, #recaptcha_area td, #recaptcha_area th {border:0!important;padding:0!important;float:left;}
	input[type='text'] {border:1px solid $lgrey!important;}
}

#recaptcha_table tbody tr td:nth-child(2){
	clear:both;

	#recaptcha_reload_btn, #recaptcha_switch_audio_btn, #recaptcha_switch_img_btn, #recaptcha_whatsthis_btn {
		display:none;
		//margin:0 5px;
	}
}
#recaptcha_table tbody tr td:nth-child(3) img{
	display:none;
}
#recaptcha_image {
	width: 302px!important;
	height: 59px!important;
	border:1px solid $lgrey!important;
}
.recaptcha_only_if_privacy {display:none;}


#recaptcha_area {
	margin-top:20px;

	table {
		display:block;
		float:left;
		width:100%;

		tbody, tr, td {
			display:block;
			float:left;
			width:100%;

			input {
				width:100%!important;
			}
		}
	}
}
@media #{$break-handheld} {
	#recaptcha_image {
		max-width:100%;
		height:auto;

		img {
			max-width:100%;
			height:auto;
		}
	}
}