@media (min-width: 768px) {
  /* line 23, partials/_variables.scss */
  .nonHandheld {
    display: block!important;
  }

  /* line 26, partials/_variables.scss */
  .handheld {
    display: none!important;
  }
}
@media (max-width: 767px) {
  /* line 31, partials/_variables.scss */
  .nonHandheld {
    display: none!important;
  }

  /* line 34, partials/_variables.scss */
  .handheld {
    display: block!important;
  }
}
/* line 1, partials/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 4, partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 7, partials/_reset.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 11, partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 14, partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 18, partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 22, partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, admin.scss */
body {
  color: #124f42;
}

/* line 9, admin.scss */
header {
  background: #124f42;
  font-family: "Lobster Two", cursive;
  color: white;
  padding: 10px;
  width: 100%;
  position: static;
  font-size: 20px;
  font-weight: normal;
  float: left;
  width: 100%;
  clear: both;
  text-align: center;
  height: auto;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
/* line 25, admin.scss */
header a {
  text-decoration: none;
  color: white;
}
/* line 29, admin.scss */
header a:hover {
  color: #e8e8e8;
}
/* line 33, admin.scss */
header #loggedInAs {
  font-family: "Droid Sans", sans-serif;
  text-transform: uppercase;
  padding: 5px 0 10px;
  font-size: 10px;
  letter-spacing: 1px;
  color: white;
}

/* line 42, admin.scss */
nav {
  float: left;
  width: 100%;
  background: #124f42;
  clear: both;
}
/* line 48, admin.scss */
nav ul {
  list-style: none;
  float: left;
  width: 100%;
  clear: both;
}
/* line 54, admin.scss */
nav ul li {
  float: left;
  width: 16.66%;
  border: 1px dotted white;
  border-top: 0;
  border-bottom: 0;
  color: #e8e8e8;
  text-align: center;
}
/* line 63, admin.scss */
nav ul li a {
  padding: 10px;
  background: #124f42;
  color: #e8e8e8;
  text-decoration: none;
  float: left;
  width: 100%;
  display: block;
  font-family: "Droid Sans", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}
/* line 76, admin.scss */
nav ul li a:hover {
  background: #124f42;
  color: white;
}

/* line 84, admin.scss */
.breadcrumb {
  float: left;
  width: 100%;
  padding: 10px;
  clear: both;
}
/* line 90, admin.scss */
.breadcrumb ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 97, admin.scss */
.breadcrumb ul li {
  float: left;
  font-size: 12px;
  margin-right: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Droid Sans", sans-serif;
  color: #124f42;
  font-weight: bold;
}
/* line 107, admin.scss */
.breadcrumb ul li:after {
  content: " >";
}
/* line 111, admin.scss */
.breadcrumb ul li a {
  color: #124f42;
  text-decoration: none;
}
/* line 115, admin.scss */
.breadcrumb ul li a:hover {
  text-decoration: underline;
}

/* line 122, admin.scss */
.wrapper {
  margin: 0 auto;
  overflow: auto;
  width: 95%;
  max-width: 960px;
  display: block;
}

/* line 129, admin.scss */
#dashboard {
  float: left;
  width: 100%;
  clear: both;
}
/* line 134, admin.scss */
#dashboard > div {
  float: left;
  width: 31.33%;
  border: 1px dashed gray;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: white;
  padding: 10px;
  margin: 1%;
}
/* line 143, admin.scss */
#dashboard > div h2, #dashboard > div h3, #dashboard > div h4 {
  float: left;
  clear: both;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0;
}
/* line 152, admin.scss */
#dashboard > div h2 {
  font-family: "Lobster Two", cursive;
  font-size: 20px;
  color: #124f42;
}
/* line 156, admin.scss */
#dashboard > div h2 a {
  color: #124f42;
}
/* line 160, admin.scss */
#dashboard > div h3 {
  font-family: "Droid Sans", sans-serif;
  padding: 5px 0;
  font-size: 12px;
}
/* line 166, admin.scss */
#dashboard > div h4 {
  font-family: "Droid Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* line 174, admin.scss */
h1 {
  font-family: "Lobster Two", cursive;
  color: #124f42;
  float: left;
  width: 100%;
  clear: both;
  text-align: left;
  font-size: 35px;
  padding: 0 0 15px 0;
}

/* line 184, admin.scss */
table {
  width: 100%;
}
/* line 187, admin.scss */
table.auto-width {
  width: 50%;
  min-width: 320px;
}
/* line 192, admin.scss */
table thead {
  border-bottom: 2px solid #124f42;
}
/* line 196, admin.scss */
table th {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
/* line 202, admin.scss */
table th, table td {
  text-align: center;
  font-family: "Droid Sans", sans-serif;
  padding: 5px;
}
/* line 207, admin.scss */
table td {
  font-size: 14px;
  border: 1px solid rgba(204, 204, 204, 0.15);
}
/* line 211, admin.scss */
table td a {
  text-decoration: underline;
  color: #124f42;
}

/* line 218, admin.scss */
.row {
  float: left;
  width: 100%;
  clear: both;
}
/* line 223, admin.scss */
.row label {
  float: left;
  clear: both;
  font-size: 12px;
  color: #124f42;
  width: 25%;
  line-height: 24px;
  font-family: "Droid Sans", sans-serif;
}
/* line 232, admin.scss */
.row input, .row textarea {
  float: left;
  width: 75%;
  font-size: 12px;
  color: #124f42;
  padding: 3px 5px;
  font-family: "Droid Sans", sans-serif;
  margin: 0;
  margin-bottom: 20px;
}
/* line 242, admin.scss */
.row button {
  width: 75%;
  margin-left: 25%;
  float: left;
  clear: both;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
/* line 252, admin.scss */
.row button:hover {
  background: #124f42;
}
